@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 640px) and (min-width: 280px) {
    .order {
        display: flex;
        flex-direction: column-reverse !important;
    }

    .hide {
        display: none;
    }

    .min-h {
        min-height: 45vh;
    }

    .widthMobile {
        width: 100%;
    }

    .flexWrow {
        flex-grow: 1;
    }
}